body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #02041ce6;
  color: #ffffff;
}

#container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #02041ce6;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#tribute-container {
  margin-top: 20px;
}

p {
  margin-bottom: 10px;
  color: #02041ce6;
  line-height: 1.5;
  font-size: 16px;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  color: #02041ce6;
  font-size: 14px;
}

footer p {
  margin: 0;
}

.quote {
  font-style: italic;
  padding: 10px;
  background-color: #02041ce6;
  color: #ffffff;
  border-left: 4px solid #ffffff;
  margin-bottom: 20px;
}

/* Media*/
@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 18px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}